<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.2.1" targetFramework="net462" />
  <package id="Castle.Windsor" version="6.0.0" targetFramework="net462" />
  <package id="Moq" version="4.20.72" targetFramework="net462" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net462" />
  <package id="NUnit" version="2.6.3" targetFramework="net462" />
  <package id="NUnit.Console" version="3.10.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.6" targetFramework="net462" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net462" />
</packages>