<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StringSetting" value="StringValue"/>
    <add key="IntSetting" value="1234"/>
    <add key="EnumSetting" value="Value2"/>
    <add key="BoolSetting" value="true"/>
    <add key="UriSetting" value="http://localhost/SomePath"/>
  </appSettings>
</configuration>